package templates

templ Layout(title string, body templ.Component) {
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>{ title }</title>
			<link rel="stylesheet" href="/static/css/output.css"/>
			<script src="/static/js/htmx.min.js" defer></script>
		</head>
		<body class="bg-gray-50 min-h-screen font-sans text-gray-900">
			@body
		</body>
	</html>
}
